.parent-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
  margin-top: 70px; 
}

.board-container {
  display: flex;
  flex-direction: column;
  width: 300px; 
  height: 300px;
  border: 2px solid black; 
}

.board-row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 24px;  
  font-weight: bold;
}

.square:hover {
  background-color: #f0f0f0;
}
